/*Hide RAW Angular data elements while browser is loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Base Styles */
body {
    font-family: 'Rubik', sans-serif;
    color: #4527A0;
}

main {
  overflow-y: auto;
}


/* Navigation Toolbar */
md-toolbar {
    padding: 1rem;
}


/* Input Styling*/


.error {
    color: red;
    padding-bottom: 10px;
}

/*buttons*/

/*Badge Classes*/
md-badge.badgeGreen {
  margin: 0 0 0 8px;
  background-color: green;
  color: white;
  padding: 2px 4px;
  border-radius: 10px 0 0 10px;   
}

md-badge.badgeRed {
  margin: 0 0 0 8px;
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 10px 0 0 10px;   
}

md-badge.badgePrimary {
  margin: 0 0 0 8px;
  background-color: dodgerblue;
  color: white;
  padding: 2px 4px;
  border-radius: 10px 0 0 10px;   
}

/*Rarity Striping*/
.common {
    border-top: 3px solid grey;
}
.uncommon {
    border-top: 3px solid green;
}

.rare {
    border-top: 3px solid yellow;
}

.srare {
    border-top: 3px inset red;
}
