/*Hide RAW Angular data elements while browser is loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Base Styles */
html {
    
}

body {
    font-family: 'Rubik', sans-serif;
    color: #4527A0;
}

main {
  overflow-y: auto;
}


/* Navigation Toolbar */
md-toolbar {
    padding: 1rem;
}


/* Input Styling*/


.error {
    color: red;
    padding-bottom: 10px;
}

/*buttons*/

.md-button.md-mini.showbtn {
    color: blue;
}

.md-button.md-mini.deletebtn {
    color: red;
}

.md-button.md-mini.savebtn {
    color: green;
}

.btn {
    background-color: orange;
    color: white;
}

.arrowbtn {
    background-color: blue;
    color: white;
}

/*Badge Classes*/
.badgeGreen {
    background-color: green;
}

.badgeRed {
    background-color: red;
}

/*Rarity Striping*/
.common {
    border-top: 5px solid grey;
}
.uncommon {
    border-top: 5px solid green;
}

.rare {
    border-top: 5px solid yellow;
}

.srare {
    border-top: 5px inset red;
}
