<div class="card meetings cf">
    <div class="textintro">
        <h1>Add To Your Collection</h1>
        <p>Enter in all the details of the Card and respective Dice and hit 'Save'</p>
        <p class="greenSuccess">{{ successMessage }}</p>
    </div>
    <form class="formgroup addmeeting cf" name="addform" ng-submit="addCard()" novalidate>
        <div class="inputwrapper">
            <input type="text" name="cardname" placeholder="Card Name." ng-model="cardname" ng-required="true" />
            <input type="text" name="cardcost" placeholder="Dice Cost." ng-model="cardcost" ng-required="true" />
            <label class="formgroup">
                Energy Type
                <select ng-model="cardenergy">
                    <option value="Fist">Fist</option>
                    <option value="Lightning">Lightning</option>
                    <option value="Mask">Mask</option>
                    <option value="Shield">Shield</option>
                </select>
            </label>
            <label class="formgroup">
                Affiliation
                <select ng-model="cardaffiliation">
                    <option value="DC">DC</option>
                    <option value="Marvel">Marvel</option>
                </select>
            </label>
            <input type="text" name="carddescription" placeholder="Description." ng-model="carddescription" ng-required="true" />
            <input type="text" name="cardcolour" placeholder="Dice Colour." ng-model="cardcolour" ng-required="true" />
            <input type="text" name="cardseries" placeholder="Card Series. E.g. Avengers vs X-men" ng-model="cardseries" ng-required="true" />
            <input type="text" name="cardimage" placeholder="Upload an Image" ng-model="cardimage" />
            <label class="formgroup">
                Quantity of Dice
                <select ng-model="dicequantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>  
        </div>
        <button type="submit" class="btn" ng-disabled="addform.$invalid">Save</button>
        <a ng-href="#/collection" class="btn">Back to Collection</a>
    </form>

</div>
