<section class="dicePage">
    <div class="search">
        <h1>Dice Masters Cards</h1>
        <label>search: </label>
        <input ng-model="query" placeholder="Search for a Dice" autofocus />
        <label class="formgroup">
            by:
            <select ng-model="diceOrder">
                <option value="name">Name</option>
                <option value="cost">Dice Cost</option>
                <option value="energy">Energy Type</option>
                <option value="affiliation">Affiliation</option>
            </select>
        </label>
        <label class="formgroup">
            <input type="radio" ng-model="direction" name="direction" checked />
            ascending
        </label>
        <label class="formgroup">
            <input type="radio" ng-model="direction" name="direction" value="reverse" />
            descending
        </label>
        <label class="formgroup">
            Collection Quantity: <span class="badge">{{ howManyCards }} </span>
        </label>
        <a ng-href="#/addcollection" class="btn">Add a Card</a>

    </div>
    <p class="greenSuccess">{{ successMessage }}</p>
    <ul class="dicelist">
        <li ng-animate="'animate'" class="diceobj cf" ng-class="die.currentState" ng-repeat="(key, die) in dice | filter:query | orderBy: diceOrder:direction">
            <div class="info">
                <a href="#/details/{{ dice.indexOf(die) }}">    <h2>{{die.name}}</h2></a>
                <h3><b>Energy Cost:</b> {{die.cost}}</h3>
                <h3><b>Energy Type:</b> {{die.energy}}</h3>
                <p>Key: {{key}}</p>
                <button class="btn btn-love tooltip" ng-click="showAddToDeck(die)">
                    <span>Add to Deck</span>
                </button>
                <div class="showform" ng-show="die.show">
                    <form class="cf" ng-submit="addtoDeck(die, deckSelected)" novalidate>
                        Choose the Deck You Would Like To Add To:
                        <select name="deckName" ng-options="deck.deckname for deck in decks track by deck.deckname" ng-model="deckSelected"></select>
                        <button type="submit" ng-click="showAddToDeck(die)" class="btn tooltip" ng-disabled="myForm.$invalid">
                            +
                            <span>Add to Deck</span>
                        </button>
                    </form>
                </div>
                <button class="btn btn-delete tooltip" ng-click="deleteCard(key)">
                    <span>Delete Card</span>
                </button>
            </div>

        </li>
    </ul>

</section>