<h1>Your Dice Masters Collection</h1>
<div layout-padding>
    <md-autocomplete md-search-text="query" md-items="card in cards | filter: query" md-items-text="card.name" md-min-length="2" placeholder="Search for a Card" md-autoselect="true">
        <md-item-template>
            <span md-highlight-text="query" md-highlight-flags="^i">{{ card.name }}</span>
        </md-item-template>
        <md-not-found>
            No Cards matching {{ query }} were found.
        </md-not-found>
    </md-autocomplete>
</div>

<label class="formgroup">
    by:
    <select ng-model="diceOrder">
        <option value="name">Name</option>
        <option value="cost">Dice Cost</option>
        <option value="energy">Energy Type</option>
        <option value="affiliation">Affiliation</option>
        <option value="cardtype">Card Type</option>
    </select>
</label>
<label class="formgroup">
    <input type="radio" ng-model="direction" name="direction" checked />
    ascending
</label>
<label class="formgroup">
    <input type="radio" ng-model="direction" name="direction" value="reverse" />
    descending
</label>
<label class="formgroup">
    Cards in Collection: <span class="badge">{{ howManyCards }} </span>
</label>
<md-button ng-href="#/addcollection" class="btn">
    Add a Card<md-icon md-svg-icon="add" class="icwhite"></md-icon>
</md-button>

<div layout="row">
    <md-content>
        <md-card ng-class="die.currentState" ng-repeat="(key, die) in dice | filter:query | orderBy: diceOrder:direction">
            <md-card-header>
                <md-card-avatar>
                    <img ng-src="{{ imagePath }}" class="md-card-image" alt="Card Image">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{ die.name }}</span>
                    <span class="md-subhead">{{ die.cardversion }}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{die.cardtype}}</span>
                    <span class="md-subhead">Dice Cost: {{ die.cost }}</span>
                    <span class="md-subhead">Energy Type: {{ die.energy }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p class="greenSuccess" ng-show="die.success">{{ successMessage }}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="deletebtn md-mini" ng-really-click="deleteCard(key)">
                    <md-tooltip>Delete Card</md-tooltip>
                    <md-icon md-svg-icon="delete" class="icwhite"></md-icon>
                </md-button>
                <md-button href="#/details/{{ dice.indexOf(die) }}" class="showbtn md-mini">
                    <md-tooltip>View Card</md-tooltip>
                    <md-icon md-svg-icon="view" class="icwhite"></md-icon>
                </md-button>
                <md-button class="showbtn md-mini" ng-click="showAddTo(die)">
                    <md-tooltip>Add to Deck</md-tooltip>
                    <md-icon md-svg-icon="show" class="icwhite"></md-icon>
                </md-button>
            </md-card-actions>
            <md-card-content layout="row" ng-show="die.show">
                <form ng-submit="addToDeck(die, deckSelected)" novalidate>
                    Deck To Add To: <br />
                    <select name="deckName" ng-options="deck.deckname for deck in decks track by deck.deckname" ng-model="deckSelected"></select>
                    <md-button type="submit" ng-click="showAddTo(die)" class="savebtn md-mini" ng-disabled="myForm.$invalid">
                        <md-tooltip>Save</md-tooltip>
                        <md-icon md-svg-icon="add" class="icwhite"></md-icon>
                    </md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</div>