<div class="search">
    <h1>Dice Masters Dice Tracker</h1>
</div>
<section class="diceinfo">
    <div class="diceobj" ng-model="dice">
        <md-button href="#/details/{{ prevItem }}" class="arrowbtn">
            <md-icon md-svg-icon="aleft" class="icwhite"></md-icon>
        </md-button>
        <md-button href="#/details/{{ nextItem }}" class="arrowbtn">
            <md-icon md-svg-icon="aright" class="icwhite"></md-icon>
        </md-button>
        <md-button href="#/collection" class="btn">
            <md-icon md-svg-icon="back" class="icwhite"></md-icon>Back to Card List
        </md-button>

        <!--  <img ng-src="{{dice[whichItem].image}}" alt="Card of {{dice[whichItem].name}}"> -->
        <h1>{{dice[whichItem].name}}</h1>
        <h2 ng-hide="hideActionVersion(dice[whichItem].cardtype)">({{ dice[whichItem].cardversion }})</h2>
        <h2>{{dice[whichItem].cardtype}}</h2>
        <h3>({{dice[whichItem].affiliation}})</h3>
        <div class="info">
            <p>{{dice[whichItem].description}}
        </div>
        <ul class="listdetails">
            <li><b>Energy Cost:</b> {{dice[whichItem].cost}} </li>
            <li><b>Energy type:</b> {{dice[whichItem].energy}}</li>
            <li><b>Dice Colour:</b> {{dice[whichItem].colour}}</li>
            <li><b>Card Rarity:</b> {{dice[whichItem].rarity}}</li>
            <li><b>Card Series:</b> {{dice[whichItem].series}}</li>
            <li ng-hide="hideActionVersion(dice[whichItem].cardtype)"><b>Dice Quantity:</b> {{dice[whichItem].quantity}}</li>
        </ul>
    </div>


    <md-button href="#/edit/{{ dice.indexOf(dice[whichItem]) }}" class="btn">Edit Card</md-button>

</section>