<section class="dicePage">
    <div class="search">
        <h1>Dice Masters Decks</h1>
        <md-button ng-href="#/adddeck" class="btn">Add a Deck</md-button>

    </div>

    <ul class="dicelist">
        <li ng-animate="'animate'" class="diceobj cf" ng-repeat="(key, deck) in decks">
            <div class="info">
                <a href="#/deckdetails/{{ decks.indexOf(deck) }}">
                    <h2>{{deck.deckname}}</h2>
                </a>
                <h3>{{deck.deckdescription}}</h3>
                <md-button class="tooltip deletebtn" ng-really-click="deleteDeck(key)">
                    <md-icon md-svg-icon="delete" class="icwhite"></md-icon>
                    <span>Delete this Deck</span>
                </md-button>
            </div>

        </li>
    </ul>

</section>