<div class="search">
    <h1>Dice Masters Dice Tracker</h1>
    <label class="formgroup">
        <input type="radio" ng-model="query" name="query" checked />
        Show All
    </label>
    <label class="formgroup">
        <input type="radio" ng-model="query" name="query" value="Hero / Villain"/>
        Hero / Villain Cards
    </label>
    <label class="formgroup">
        <input type="radio" ng-model="query" name="query" value="Action"/>
        Action Cards
    </label>
</div>

<section class="diceinfo">
    <div class="diceobj cf" ng-model="decks">
        <a href="#/deckdetails/{{ prevItem }}" class="btn btn-left">&lt;</a>
        <a href="#/deckdetails/{{ nextItem }}" class="btn btn-left">&gt;</a>
        <a href="#/decks" class="btn">&laquo; Back to Deck List</a>
        <h1>{{decks[whichItem].deckname}}</h1>
        <label class="formgroup">
            Hero / Villain Cards in Deck: <span class="badge">{{ howManyHeroes }} / 8 </span>
            Action Cards in Deck: <span class="badge">{{ howManyActions }} / 2 </span>
        </label>
    </div>

    <ul class="dicelist">
        <li ng-animate="'animate'" class="diceobj cf" ng-repeat="(key, die) in deckDice | filter:query">
            <div class="info">
                <a href="#/details/{{ die.navKey }}"><h2>{{die.name}}</h2></a>
                <h2 ng-hide="hideActionVersion(die.cardtype)">({{ die.cardversion }})</h2>
                <p>{{ die.description }}</p>
                <b>Dice Quantity:</b> {{die.quantity}}
                <b>Dice Colour:</b> {{die.colour}}
                <b>Dice Quantity:</b> {{die.diceQuantity}}
                <button class="btn btn-delete tooltip" ng-click="removeItem(key)">
                    <span>Remove Card from this Deck</span>
                </button>
            </div>

        </li>
    </ul>

</section>