<section class="dicePage">
    <div class="search">
        <h1>Dice Masters Decks</h1>
        <a ng-href="#/adddeck" class="btn">Add a Deck</a>

    </div>

    <ul class="dicelist">
        <li ng-animate="'animate'" class="diceobj cf" ng-repeat="(key, deck) in decks">
            <div class="info">
                <a href="#/deckdetails/{{ decks.indexOf(deck) }}">
                    <h2>{{deck.deckname}}</h2>
                </a>
                <h3>{{deck.deckdescription}}</h3>
                <p>Key: {{key}}</p>
                <button class="btn btn-delete tooltip" ng-click="deleteDeck(key)">
                    <span>Delete Deck</span>
                </button>
            </div>

        </li>
    </ul>

</section>