<div class="home">
    <h1>Welcome to the Dice Masters Collection Tracker</h1>
    <h2>Critically Acclaimed Dice Building Game®!</h2>
    <p>Dice Masters® is a smash-hit cross-brand offering utilizing WizKids’ proprietary Dice Building Game platform where players collect and assemble their “team” of character dice and battle in head-to-head game play. As with Quarriors, the game that kicked off Dice Building Games, Michael Elliott and Eric M. Lang are leading the design work for what will certainly be on most people’s watch list.</p>
    <h3 ng-hide="currentUser">Please Login to Continue.</h3>
    <md-button ng-hide="currentUser" ng-href="#/login" class="btn">Login</md-button>
    <md-button ng-hide="currentUser" ng-href="#/register" class="btn">Register</md-button>
    <md-button ng-show="currentUser" ng-href="#/collection" class="btn">View Collection</md-button>
    <md-button ng-show="currentUser" ng-href="#/decks" class="btn">View Decks</md-button>
    <md-button ng-show="currentUser" ng-href="#/adddeck" class="btn">Build a Deck</md-button>
</div>
