<div class="landing">
    <h1>Welcome {{ currentUser.dname }}</h1>
    <h2>Please select A Collection Below to View</h2>
    <md-button ng-show="currentUser" ng-href="#/collection" class="btn">View Collection</md-button>
    <md-button ng-show="currentUser" ng-href="#/addcollection" class="btn">Add to Collection</md-button>
    <md-button ng-show="currentUser" ng-href="#/decks" class="btn">View Decks</md-button>
    <md-button ng-show="currentUser" ng-href="#/adddeck" class="btn">Build a Deck</md-button>
</div>
