<section class="card register">
    <form name="registerform" ng-submit="register()" novalidate>
        <h1>Dice Master Collection Tracker</h1>
        <p>Register to access all features</p>
        <p class="message" ng-show="message"> {{ message }}</p>
        <fieldset>
            <input type="text" name="fname" placeholder="First Name" ng-model="user.fname" ng-required="true" />
            <p class="error validationerror" ng-show="registerform.fname.$invalid && registerform.fname.$touched">First Name Required</p>
            <input type="text" name="lname" placeholder="Last Name" ng-model="user.lname" ng-required="true" />
            <p class="error validationerror" ng-show="registerform.lname.$invalid && registerform.lname.$touched">Last Name Required</p>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true" />
            <p class="error validationerror" ng-show="registerform.email.$invalid && registerform.email.$touched">Email Address Required</p>
            <input type="password" id="pw1" name="password" placeholder="Password" ng-model="user.password" ng-required="true" />
            <p class="error validationerror" ng-show="registerform.password.$invalid && registerform.password.$touched">Password Required</p>

            <input type="password" id="pw2" name="password2" placeholder="Confirm Password" ng-model="user.password2" ng-required="true" pw-check="pw1" />
            <p class="error validationerror" ng-show="registerform.password2.$invalid && registerform.password2.$touched && registerform.pw2.$error.pwmatch">Passwords don't match</p>

        </fieldset>
        <button type="submit" class="btn" ng-disabled="registerform.$invalid">Register</button>
        <p> or <a ng-href="#/login">Login</a></p>
        </form>
</section>